*{
    margin:0;
    border:0;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.hero_image{
    background-image: url('heroimage.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
}
.hero_wrapper{
    color:white;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-family: 'Montserrat', sans-serif;
}
.hero_wrapper h1{
    font-size: 1.4rem;
    text-align:center;
}